<table border-spacing='0' margin='0' class='redirect required'><tr>
<td align=right><img src="static/announcement.png" class='leftfloat' width=70px height=70px/></td>
<td align=left>
    <p style="color:darkred"><b>GeoTech Support Requests are now handled at an all new location!</b></p>
    <p>Please visit <a href='https://jira.dug.com/servicedesk/customer/portal/10'>the GeoTech Support portal</a> to submit your request.    
    You can also drag this link to your browser toolbar to quickly file GeoTech tickets in future.</p>       
</td>
</tr></table>
